body {
  background: #ccc;
}
body > header .navbar {
  margin-bottom: 0;
}
body > .container {
  padding-top: 20px;
  padding-bottom: 70px;
  background: #fff;
  box-shadow: 1px 0 2px 0 rgba(0,0,0,0.2);
  border-radius: 0 0 8px 8px;
}

h1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.row:before, .row:after {
    content: initial;
    display: table;
}

.responsive-fake-table {
  margin-bottom: 20px;

  > .row:before, .row:after {
   content: initial;
  }

  .col {
    border: 1px solid transparent;
    border-right: none;
    padding: 5px;
  }
  .col:first-child {
    border-left: none;
  }
   > div > table > thead .col {
      background-color: #d9edf7;
      border-color: #bce8f1;
      color: #31708f;
      padding-top: 15px;
      font-weight: bold;
   }
  > div > table .col {
    //color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  > div > table > tbody > tr:nth-child(odd) .col {
    background-color: #fff;
  }
  
}

#books_table {
   .col {
       border: 1px solid transparent;
       border-right: none;
       padding: 5px;
   }
   .col:first-child {
      border-left: none;
   }
   .col.toggle {
      cursor: pointer;
   }
   .col {
    //color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  tbody > tr:nth-child(odd) .col {
    background-color: #fff;
  }
}


.expansible-fake-table {
  section .col.toggle {
    cursor: pointer;
  }
}

.h55 {
    height:55px;
}